;; attempt to incorporate value table che2ck-box into /multimodqry
             [:tr
              (form-to [:post "/multisortqry"]
                       [:table
                        [:tr
                         [:td
                          [:label
                           (check-box {:name "pos" :value pos :checked "true"} pos) (str (upper-case pos))]]]
                        [:tr
                         [:td
                          [:label
                           (check-box {:name "langs" :value languages :checked "true"} "LANGS") "LANGS"]]]
                        [:tr
                         [:td
                          [:input#submit
                           {:value "Display pdgm value tables", :name "submit", :type "submit"}]]]])]
