				  TO BE ADDED TO bibrefs.edn:
:CohenO2018 ["A Bird's-Eye View of Personal Pronouns and Accusative Markers in Ancient Semitic Languages. Ohad Cohen. Journal of Semitic Studies, Volume 63, Issue 1, 1 April 2018, Pages 1–17, https://doi.org/10.1093/jss/fgx034." "semitic"]
:Andrason&Vita2018 ["Amorite: A Northwest Semitic Language? Alexander Andrason; Juan-Pablo Vita. Journal of Semitic Studies, Volume 63, Issue 1, 1 April 2018, Pages 19–58, https://doi.org/10.1093/jss/fgx035." "semitic amorite"]
:Embick2017 ["David Embick. 2017. The Morpheme: A Theoretical Introduction, Series Title: Interface Explorations [IE] De Gruyter Mouton" "morphology"]
:Loprieno-etal2018 ["Antonio Loprieno,  Matthias Müller, Sami Uljas. 2018.  Non-Verbal Predication in Ancient Egyptian, Series Title: The Mouton Companions to Ancient Egyptian, De Gruyter Mouton." "egyptian"]
: ["" ""]


====================

Journal Title: Journal of Linguistic Geography 
Volume Number: 5 
Issue Number: 2 
Issue Date: 2017 


Main Text: 

A perceptual dialectological approach to linguistic variation and spatial analysis of Kurdish varieties 
Eva Eppler, Josef Benedikt 
109-130 

The relationship between label-based and speech-based perceptual evaluations: The case of Enshi Mandarin regional varieties 
Qingyang Yan 
131-150 

Mapping the linguistic landscapes of the Marshall Islands 
Isabelle Buchstaller, Seraphim Alvanides 
67-85 

Exploring global and local patterns in the correlation of geographic distances and morphosyntactic variation in Swiss German 
Péter Jeszenszky, Philipp Stoeckle, Elvira Glaser, Robert Weibel 
86-108 

========================

Journal Title: Morphology 
Volume Number: 28 
Issue Number: 1 
Issue Date: 2018 


Main Text: 

DOI: https://doi.org/10.1007/s11525-017-9313-z 
Title: Lexical splits within periphrasis: mixed perfective auxiliation systems in Italo-Romance 
Author(s): Pavel Štichauer 
pages: 1-23 

========================

Journal Title: Journal of African Languages and Linguistics 
Volume Number: 39 
Issue Number: 1 
Issue Date: 2018 
Sara Petrollino Anne Storch Maarten Mous: Alagwa-a South Cushitic language of Tanzania: Grammar, Texts and Lexicon 
Harvey, Andrew 
Page 107 
======================
Journal Title: Journal of Language Contact 
Volume Number: 11 
Issue Number: 2 
Issue Date: 2018 


Subtitle: Heritage Languages in North-America: Sociolinguistic Approaches 
Heritage Somali and Identity in Rural Wisconsin 
Joshua R. Brown and Benjamin Carpenter 
Pages 348-371 

===================

Title: An Introduction to English Morphology 
Subtitle: Words and Their Structure (2nd edition) 
Series Title: Edinburgh Textbooks on the English Language 
Published: 2018 
Publisher: Edinburgh University Press
                http://www.euppublishing.com 

Book URL: https://edinburghuniversitypress.com/book-an-introduction-to-english-morphology.html 

Author: Andrew Carstairs-McCarthy

==============================

Journal Title: Diachronica 
Volume Number: 35 
Issue Number: 1 
Issue Date: 2018 

Areal pressure in grammatical evolution: An Indo-European case study 
Chundra Cathcart, Gerd Carling, Filip Larsson, Niklas Johansson and Erich Round 
Pages 1–34 

On morphological internalization: The origin of the Old Irish oblique relative conjunct particle -(s)aN- 
Carlos García-Castillero 
Pages 35–70 

============================

 Nat Lang Linguist Theory (2018) 36:483–521 DOI 10.1007/s11049-017-9380-1
Deriving the Constant Rate Effect Henri Kauhanen1 · George Walkden2

===========================

Journal Title: Journal of Linguistics
Volume Number: 50
Issue Number: 2
Issue Date: 2014

Reviews

Canonical morphology and syntax. Oxford: Oxford University Press, 2013.
Leonid Kulikov
The Oxford handbook of construction grammar. Oxford: Oxford University Press, 2013.
Evie Coussé

==========================
Title: Exploring Nanosyntax 
Series Title: Oxford Studies in Comparative Syntax 
Published: 2018 
Publisher: Oxford University Press
                http://www.oup.com/us 

Book URL: https://global.oup.com/academic/product/exploring-nanosyntax-9780190876753 

Editor: Lena Baunaz 
Editor: Liliane Haegeman 
Editor: Karen De Clercq 
Editor: Eric Lander 
=============================
