				  TO BE ADDED TO bibrefs.edn:
: ["" ""]
: [" " "language-evolution"]
: [" " "language-evolution"]


:Nichols2017 ["Johanna Nichols. 2017. 'Person as an inflectional category' Linguistic Typology 2017; 21(3): 387–456" "language-evolution"]

:Beuls2017 ["Katrien Beuls. 2017. 'An open-ended computational construction grammar for Spanish verb conjugation' Constructions and Frames 9:2 (2017), 278–301. doi 10.1075/cf.00005.beu" "morphology computation"]

:Steels2017 ["Steels, Luc. 2017. 'Basics of Fluid Construction Grammar' Constructions and Frames 9:2 (2017), 178–225. doi 10.1075/cf.00002.ste" "computation fluid-construction-grammar"]

:Beuls2012 ["Beuls, Katrien/ 2012 'Inflectional patterns as constructions Spanish verb morphology in Fluid Construction Grammar, Constructions and Frames 4:2 (2012), 231–252. doi 10.1075/cf.4.2.04beu" "morphology computation"]

:Carstairs1987 ["Carstairs, Andrew Damerell. Allomorphy in Inflexion. London ; New York: Croom Helm, 1987." "morphology allomorphy"]

:Pietraszko2018 ["Asia Pietraszko. 2018, 'Auxiliary vs INFL in Bantu: The syntactic and phonological complexity of Ndebele verbs', Nat Lang Linguist Theory (2018) 36:265–308 DOI 10.1007/s11049-017-9373-0" "morphology"]

:Annis&Palmieri2018 ["Jeffrey Annis and Thomas J. Palmeri. 2018. 'Bayesian statistical approaches to evaluating cognitive models.' WIREs Cogn Sci 2018, 9:e1458. doi: 10.1002/wcs.1458 " "statistics Bayesian"]

:Stump2015ms ["Stump. Gregory. 2016. 'Paradigms at the interface of a lexeme’s syntax and semantics with its inflectional morphology, June 2016 DOI10.1075/la.229.02stu In book: Morphological Metatheory. Projects: Realizational morphotactics" "morphology paradigms"]

:Zimmermann2018 ["MICHAEL ZIMMERMANN. 2018. 'CHANGES IN STATUS AND PARADIGMS? ON SUBJECT PRONOUNS IN MEDIEVAL FRENCH.' Transactions of the Philological Society Volume 116:1 (2018) 131–149 " "morphology paradigms"]

:Albaugh&deLuna2018: ["Tracing Language Movement in Africa Edited by Ericka A. Albaugh and Kathryn M. de Luna. OUP 2018" "historical"]

:MacEachern2018 ["Scott MacEachern. 2018.'Understanding Distributions of Chadic Languages: Archaeological Perspectives' in Albaugh&deLuna 2018, lpp. 67-89." "chadic"]

:Tosco2018 ["Tosco, Mauro. 2018. Afroasiatic: Data and perspectives. Current Issues in Linguistic Theory 339. Book URL: https://benjamins.com/catalog/cilt.339. Benjamins." "afroasiatic"]
: ["" ""]
: ["" ""]
: ["" ""]
: ["" ""]

Published: 2018 
Publisher: John Benjamins
                http://www.benjamins.com/ 


Editor: Mauro Tosco 
