				  TO BE ADDED TO bibrefs.edn:
:CohenO2018 ["A Bird's-Eye View of Personal Pronouns and Accusative Markers in Ancient Semitic Languages. Ohad Cohen. Journal of Semitic Studies, Volume 63, Issue 1, 1 April 2018, Pages 1–17, https://doi.org/10.1093/jss/fgx034." "semitic"]
:Andrason&Vita2018 ["Amorite: A Northwest Semitic Language? Alexander Andrason; Juan-Pablo Vita. Journal of Semitic Studies, Volume 63, Issue 1, 1 April 2018, Pages 19–58, https://doi.org/10.1093/jss/fgx035." "semitic amorite"]
:Embick2017 ["David Embick. 2017. The Morpheme: A Theoretical Introduction, Series Title: Interface Explorations [IE] De Gruyter Mouton" "morphology"]
:Loprieno-etal2018 ["Antonio Loprieno,  Matthias Müller, Sami Uljas. 2018.  Non-Verbal Predication in Ancient Egyptian, Series Title: The Mouton Companions to Ancient Egyptian, De Gruyter Mouton." "egyptian"]
: ["" ""]

Published: 2018 
Publisher: John Benjamins
                http://www.benjamins.com/ 


Editor: Mauro Tosco 
