{
:Almkvist1881 ["Almkvist, Herman. 1881. Die Bischari-Sprache Tu:-Bed'a:wiye in Nordost-Afrika (beschreibend und vergleichenddargestellet). Nova Acta Regiae Societatis Scientiarum Upsalensis. Serie Tertia 11.. Uppsala: Kaiserliche Akademie der Wissenschaften." "beja bishari"] 
:Amha2001 ["Amha, Azeb. 2001.The Maale Language. . Research School of Asian, African and Amerindian Studies Universiteit Leiden, Leiden." "maale omotic"]
:Appleyard1975 ["Appleyard, David. 1975. 'A descriptive outline of Kemant'. Bulletin of the School of African and Asian Studies 38/2, 316-350." "kemant agaw"]
:Appleyard1987 ["Appleyard, David. 1987. 'A grammatical sketch of Khamtanga - I'. Bulletin of the School of African and Asian Studies 50, 241-266; II 470-507." "khamtanga agaw"]
:Appleyard2007a ["Appleyard, David. 2007. 'The Beja Language'. in Alan Kaye (ed.), Morphologies of Asian and Africa (2 vols). Eisenbrauns. Winona Lake IN.: Eisenbrauns. vol. 1, pp. 447-480." "beja arteiga"]
:Appleyard2007b ["Appleyard, David. 2007. 'Bilin Morphology'.. in Alan Kaye (ed.), Morphologies of Asian and Africa (2 vols). Eisenbrauns. Winona Lake IN.: Eisenbrauns. vol. 1, pp. 481-504." "bilin agaw"]
:Banti&Vergari2003 ["Banti, Giorgio, and Moreno Verbari. 2003. 'Grammatical Notes'. in Moreno and Roberta Vergari, A Basic Saho-English-Italian Dictionary. Asmara - Eritrea. pp. 15-38." "saho"]
:Beachy2005 ["Beachy, Marvin Dean. 2005. An Overview of Central Dizin Phonology and Morphology. MA Thesis. University of Texas at Austin." "dizi omotic"]
:BinyamSisay2008 ["BinyamSisay, Modisu. 2008. Aspects of Koorete Verb Morphology. PhD Thesis. University of Oslo." "koorete omotic"]
:Gragg1976 ["Gragg, Gene. 1976. 'Oromo of Wallagga'. in Lionel Bender (ed.), Non-Semitic Languages of Ethiopia. Michigan State University Press. 1976.  166-195." "oromo"]
:Gragg1998 ["Gragg, Gene. 1998. 'Ge`ez (Ethiopic)'. in Robert Hetzron (ed.),  The Semitic Languages. Routledge, New York. pp.  242-260." "geez semitic"]
:Gragg2013 ["Gragg, Gene. 2013. 'Cushitic verb inflectional classes revisited', in Simeone-Senelle, Marie-Claude and Martine Vanhove (eds.) Proceedings of the 5th International Conference on Cushitic and Omotic Languages - Paris, 16-18 April 2008. Köln: Rüdiger Köppe Verlag, pp. 21-35." "cushitic morphology"]
:Hayward1978 ["Hayward, Richard, 1978. 'Bayso revisited. Some preliminary linguistic observations, Part I'. Bulletin of the School of African and Asian Studies. 41/4. pp. 539–570" "bayso"]
:Hayward1979 ["Hayward, Richard, 1979. 'Bayso revisited. Some preliminary linguistic observations, Part II'. Bulletin of the School of African and Asian Studies. 41/4. pp. 101-132." "bayso"]
:Hayward1984a ["Hayward, Richard, 1984. The Arbore Language: A First Investigation Including a Vocabulary. Kuschitische Sprachstudien 2. Hamburg: Helmut Buske Verlag." "arbore"]
:Heine1980d    ["Heine, Bernd. 1980. 'Elmolo'. in Bernd Heine, The Non-Bantu Languages of Kenya. Language and Dialect Atlas of Kenya, vol. 2. Berlin: Dietrich Reimer Verlag. pp. 173-219." "elmolo"]
:Heine1982    ["Heine, Bernd. 1982. Boni Dialects. The Non-Bantu Languages of Kenya. Language and Dialect Atlas of Kenya, vol. 10. Berlin: Dietrich Reimer Verlag." "boni"]
 :Hetzron1969b ["Hetzron, Robert. 1969. The Verbal System of Southern Agaw. Near Eastern Studies, vol. 12. Los Angeles: University of California Press." "awnji agaw"]
:HudsonR1976 ["Hudson, Richard. 1976. 'The Beja Language'. in Lionel Bender (ed.), Non-Semitic Languages of Ethiopia. Michigan State University Press. pp. 139-154." "beja arteiga"]
:Huehnergard1997 ["Huehnergard, John. 1997. A Grammar of Akkadian. Harvard Semitic Studies 45.  Winona Lake, IN.: Eisenbrauns." "akkadian"]
:Kawachi2007 ["Kawachi, Kazuhira. 2007. A Grammar of Sidaama (Sidamo), a Cushitic Language of Ethiopia. PhD Dissertation. State University of New York at Buffalo." "sidaama"]
:Kiessling1994 ["Kiessling, Roland. 1994. Eine Grammatik des Burunge. Arikanistische Forschungen 13. Hamburg: Research and Progress Verlag." "burunge"]
:Lambdin1971 ["Lambdin, Thomas. 1971. Introduction to Biblical Hebrew. New York: Scribner, New York." "hebrew"]
:Lambdin1983 ["Lambdin, Thomas. 1983. Introduction to Sahidic Coptic. Macon, Ga.: Mercer University Press." "coptic"]
:Lamberti&Sottile1997 ["Lamberti, Marcello, and Roberto Sottile. 1997. The Wolaytta Language. Studia linguarum africae orientalis 6. Köln: Rüdiger Köppe Verlag." "wolaytta"]
:Lamberti1993a ["Lamberti, Marcello. 1993. Materialien zum Yemsa. Heidelberg: Carl Winter Universitätsverlag, Heidelberg." "yemsa omotic"]
:Lamberti1993b ["Lamberti, Marcello. 1993. Die Shinassha-Sprache. Materialen zum Boro. Heidelberg: Carl Winter Universitätsverlag." "shinassha omotic"]
:Mous1993 ["Mous, Maarten. 1993. A Grammar of Iraqw. Kuschitische Sprachstudien, 9. Hamburg: Helmut Buske Verlag." "iraqw"]
:Orwin1995 ["Orin, Martin. 1995. Colloquial Somali. Colloquial Series. London/New York: Routledge." "somali"]
:Parker&Hayward1985 ["Parker, E. M., and Richard J. Hayward. 1985. 'A Concise Outline of Phonology and Morphology. Appendix A in E. M. Parker &  Richard J. Hayward, An Afar-English-French Dictionary. London: School of Oriental and African Studies, University of London. pp. 214-297." "afar"]
:Pillinger&Galboran1999 ["Pillinger, Steve, and Letiwa Galboran. 1999. A Rendille dictionary: Including a grammatical outline and an English-Rendille Index. Cushitic Language Studies, vol. 14 . Köln: Köppe Verlag." "rendille"]
:Reinisch1893 ["Reinisch, Leo. 1893. Die Bed'auye-Sprache in Nordost-Afrika. (I, II, III, IV). Sitzungsberichte der kaiserlichen Akademie der Wissenschaften in Wien.Philosophisch-historische Classe}, volume = {128/III, 128/VII, 130/VII, 131/III}. Wien: Kaiserliche Akademie der Wissenschaften." "beja beniamer"]
:Roper1928 ["Roper, E. M. 1928. Tu Bed'awie: An elementary handbook for the use of Sudan government officials. Hartford: Stephen Austin and Sons." "beja hadendowa"]
:Saeed1999 ["Saeed, John Ibrahim. Somali. London Oriental and African Language Library. vol. 10 . Amsterdam/Philadelphia: J. Benjamins." "somali"]
:Sava2005 ["Savà, Graziano. 2005. A grammar of Ts'amakko. Cushitic Language Studies 22. Köln: Rüdiger Köppe Verlag." "tsamakko"]
:Schneider-Blum2007 ["Schneider-Blum, Gertrud. 2007. A grammar of Alaaba: A Highland East Cushitic Language of Ethiopia. Cushitic Language Studies 25. Köln: Rüdiger Köppe Verlag." "alaaba"]
:SimM1985 ["Sim, Margaret. 1985. 'Kambaata Verb Morphophonemics'. Afrikanistische Arbeitspapieren 2, 44-63." "kambaata"]
:SimR1985 ["Sim, Ronald. 1985. 'The morphological structure of some main verb forms in Hadiyya'. Afrikanistische Arbeitspapieren 2, 10-43." "hadiyya"]
:Thackston1994 ["Thackston, Wheeler M. 1994. Introduction to Koranic and Classical Arabic.  Bethesda Md.: Iranbooks." "arabic"]
:Thackston1999 ["Thackston, Wheeler M. 1999. Introduction to Syriac. Bethesda Md.: IBEX Publisher." "syriac"]
:Tosco1991 ["Tosco, Mauro. 1991. A Grammatical Sketch of Dahalo. Hamburg: Helmut Buske Verlag." "dahalo"]
:Tosco2001b ["Tosco, Mauro. 2001. The Dhaasanac language: grammar, texts, vocabulary of a Cushitic language of Ethiopia. Kuschitische Sprachstudien. vol. 17. Köln: Köppe Verlag." "dhaasanac"]
:Tosco2007b ["Tosco, Mauro. 2007. 'Gawwada Morphology'. in Alan Kaye (ed.), Morphologies of Asian and Africa (2 vols). Eisenbrauns. Winona Lake IN.: Eisenbrauns. vol. 1, pp. 505-528." "gawwada"]
:Wedekind-etal2007 ["Wedekind, Klaus, Charlotte Wedekind, and Musa Abuzeinab. 2007. A learner's grammar of Beja (East Sudan). Köln: Rüdiger Köppe Verlag." "beja atmaan"]
:WedekindC1985 ["Wedekind, Charlotte. 1985. 'Burji Verb Morphology and Morphophonemics'. Afrikanistische Arbeitspapieren 2, 110-139" "burji"]
:WedekindK1985 ["Wedekind, Klaus. 1985. 'Gedeo (Darasa) Verb Morphology and Morphophonemics'. Afrikanistische Arbeitspapieren 2, 82-109." "gedeo"]
:Welmers1952 ["Welmers, W. E. 1952. 'Notes on the structure of Saho 1, 2 ', Word 8, 145-162; 236-251." "saho"]
}
