{
:Almkvist1881 ["Almkvist, Herman. 1881. Die Bischari-Sprache Tu:-Bed'a:wiye in Nordost-Afrika (beschreibend und vergleichenddargestellet). Nova Acta Regiae Societatis Scientiarum Upsalensis. Serie Tertia 11.. Uppsala: Kaiserliche Akademie der Wissenschaften." "beja bishari"] 
:Amha2001 ["Amha, Azeb. 2001.The Maale Language. . Research School of Asian, African and Amerindian Studies Universiteit Leiden, Leiden." "maale omotic"]
:Appleyard1975 ["Appleyard, David. 1975. 'A descriptive outline of Kemant'. Bulletin of the School of African and Asian Studies 38/2, 316-350." "kemant agaw"]
:Appleyard1987 ["Appleyard, David. 1987. 'A grammatical sketch of Khamtanga - I'. Bulletin of the School of African and Asian Studies 50, 241-266; II 470-507." "khamtanga agaw"]
:Appleyard2007a ["Appleyard, David. 2007. 'The Beja Language'. in Alan Kaye (ed.), Morphologies of Asian and Africa (2 vols). Eisenbrauns. Winona Lake IN.: Eisenbrauns. vol. 1, pp. 447-480." "beja arteiga"]
:Appleyard2003a ["Appleyard, David. 2003. 'Berber Overview' in in Afrasian: Selected Cmparative-Historical Linguistic STudies in Memory of Igor M. Diakonoff, M. Lionel Bender, David Appleyard, and Gabor Takacs (eds.) Lincom Europa, 200, Munchen. 1-6" "aa-sem"]
:Appleyard2003b ["Appleyard, David. 2003. 'Semitic Overview' in in Afrasian: Selected Cmparative-Historical Linguistic STudies in Memory of Igor M. Diakonoff, M. Lionel Bender, David Appleyard, and Gabor Takacs (eds.) Lincom Europa, 200, Munchen. 187-192" "aa-sem"]
:Appleyard2007b ["Appleyard, David. 2007. 'Bilin Morphology'.. in Alan Kaye (ed.), Morphologies of Asian and Africa (2 vols). Eisenbrauns. Winona Lake IN.: Eisenbrauns. vol. 1, pp. 481-504." "bilin agaw"]
:Appleyard2012 ["Appleyard, David. 2012. 'Beja as a Cushitic Language' in Egyptian and Semito-Hamitic (Afro-Asiatic) Studies in Memoriam Werner Vycichl, ed. Gábor Takács, pp. 454-86. Leiden: Brill." "aa-sem"] 
:Aronoff&Lindsay2015 ["Aronoff, Mark, and Mark Lindsay. 2015. 'Partial organization in languages: la langue est un système où la plupart se tient'. Décembrettes 8. " "morphology evolution"]
:Aronoff2015 ["Aronoff, Mark. 2015. 'Thoughts on morphological and cultural evolution'. In Laurie Bauer et al, eds. Semantics of Complex Words. Springer International. 277 - 288. " "morphology evolution"]
:Aronoff2016 ["Aronoff, Mark. (to appear).  'Unnatural kinds'.  In The Morphome Debate: Diagnosing and Analysing Morphomic Patterns, ed. by Ana Luis and Ricardo Bermudez-Otero. Oxford University Press. " "morphology evolution"]
:Banti&Vergari2003 ["Banti, Giorgio, and Moreno Verbari. 2003. 'Grammatical Notes'. in Moreno and Roberta Vergari, A Basic Saho-English-Italian Dictionary. Asmara - Eritrea. pp. 15-38." "saho"]
:Banti2004 ["Banti, Giorgio. 2004. 'New Perspectives on the Cushitic Verbal System'. In Simpson, Andrew (ed.) Proceedings of the Twenty-Seventh Annual Meeting of the Berkeley Linguistics Society (March 22-25, 2001) – Special Session on Afroasiatic Languages. Pp. 1-48. Berkeley Linguistics Society, Berkeley." "cushitic morphology"]
:Beachy2005 ["Beachy, Marvin Dean. 2005. An Overview of Central Dizin Phonology and Morphology. MA Thesis. University of Texas at Austin." "dizi omotic"]
:BenderL1997 ["Bender, M. Lionel, 1997. 'Upside-Down Afrasian.' Afrikanistisches Arbeitspapiere 50:19-34" "aa-sem pdf"]
:BenderL2000 ["Bender, M. Lionel, 2000. Comparative Morphology of the Omotic Languages (LINCOM Studies in African Linguistics 19). Lincom Europa. Munich" "omotic"]
:BenderL2002 ["Bender, M. Lionel, 2002. Comparative Pnonology and Lexicon of the Omotic Languages. Carbondale, IL." "omotic book"]
:BenderL2003  ["Bender, M. Lionel, 2003. 'Afrasian Overview' in Afrasian: Selected Cmparative-Historical Linguistic STudies in Memory of Igor M. Diakonoff, M. Lionel Bender, David Appleyard, and Gabor Takacs (eds.) Lincom Europa, 2003, Munchen. 1-6" "aa-sem"]
:BinyamSisay2008 ["BinyamSisay, Modisu. 2008. Aspects of Koorete Verb Morphology. PhD Thesis. University of Oslo." "koorete omotic"]
:BlackP1973 ["Black, Paul. 1973. 'Sketch of Konso Phonology, Morphology and Syntax'. Cambridge: Murray Hill. Draft." "konso"]
:Blevins&Blevins2009 ["Blevins, James P. and Juliette (eds). 2009. Analogy in Grammar: Form and Acquisition, Oxford University Press. " "morphology"]
:Boyd&Richerson ["Boyd, Robert, and Peter J. Richerson. 1985. Culture and the evolutionary process. Chicago: University of Chicago Press." "evolution"]
:CohenM1947 ["Cohen, Marcel. 1947. Essai comparatif sur le vocabulaire et la phonetique du shamito-semitiaue. Champion. Paris." "aa"]
:Corbett&Baerman2006 ["Corbett, Greville G. & Matthew Baerman. 2006. 'Prolegomena to a typology of morphological features'. Morphology 16.231-246. " "morphology"]
:Corbett2012 ["Corbett, Greville G. 2012. Features.  Cambridge Textbooks in Linguistics." "morphology"]
:Dediu-etal2013 ["Dediu-etal2013, 'Cultural Evolution of Language' in Richersen&Christianson2013, pp. 303-332" "evolution language pdf"]
:Diakonoff1965 ["Diakonoff, Igor M. 1965. 'The Semito-Hamitic Languages. Nauka. Moscow." "aa-sem"]
:Diakonoff1988 ["Diakonoff, Igor M. 1988. 'The Afrasian Languages. Nauka. Moscow." "aa-sem"]
:Diakonoff-etal1993-1997 ["Diakonoff, Igor M. et al. HJistorical-Comparative Vocabulary of Afrasian. St. Petersburg Journal of African STudies. Nos. 2-6" "aa"]
:EdzardL2012 ["Edzard, Lutz. 2012. 'Introduction: Semitic and Afroasiatic' in  Lutz Edzard (ed), 4. Semitic and Afroasiatic: Challenges and Opportunities. Wiesbaden : Harrassowitz, 2012.   pp. 23-58." "aa-sem"]
:Finkel&Stump2009 ["Finkel, Raphael, and Gregory Stump (2009), 'Principal parts and degrees of paradigmatic transparency', in Blevins & Blevins, pp. 13-53. " "morphology"]
:Frajzyngier2012 ["Frajzyngier, Zygmunt. 2012. ’Typological outline of the Afroasiatic phylum.’ in The Afroasiatic languages / edited by Zygmunt Frajzyngier, Erin Shay. Cambridge ; New York : Cambridge University Press, 2012. pp. 505 - 627." "aa-sem book"] 
:Fulmer1991 ["Fulmer, S. Lee. 1991. 'Dual-Position Affixes in Afar: An Argument for Phonologically-Driven Morphology'. in Aaron L. Halpern (ed.), Proceedings of the 9th West Coast Conference on Formal Linguistics, 1990. Stanford: CSLI. pp. 189-204." "afar morphology"]
:Gragg1976 ["Gragg, Gene. 1976. 'Oromo of Wallagga'. in Lionel Bender (ed.), Non-Semitic Languages of Ethiopia. Michigan State University Press. 1976.  166-195." "oromo"]
:Gragg1998 ["Gragg, Gene. 1998. 'Ge`ez (Ethiopic)'. in Robert Hetzron (ed.),  The Semitic Languages. Routledge, New York. pp.  242-260." "geez semitic"]
:Gragg2013 ["Gragg, Gene. 2013. 'Cushitic verb inflectional classes revisited', in Simeone-Senelle, Marie-Claude and Martine Vanhove (eds.) Proceedings of the 5th International Conference on Cushitic and Omotic Languages - Paris, 16-18 April 2008. Köln: Rüdiger Köppe Verlag, pp. 21-35." "cushitic morphology"]
:GreenbergJ1963 ["Greenberg, Joseph H. 1963. The Languages of Africa. Mouton. The Hague." "aa"]
:Hayward&Orwin1991 ["Hayward, Richard J., and Orwin, Martin. 1991. 'The Prefix Conjugation in Qarar-Saho: The Survival and Revival of a Paradigm - Part I.' African Languages and Cultures 4;2, 157-176." "cushitic morphology"]
:Hayward1978 ["Hayward, Richard, 1978. 'Bayso revisited. Some preliminary linguistic observations, Part I'. Bulletin of the School of African and Asian Studies. 41/4. pp. 539–570" "bayso"]
:Hayward1979 ["Hayward, Richard, 1979. 'Bayso revisited. Some preliminary linguistic observations, Part II'. Bulletin of the School of African and Asian Studies. 41/4. pp. 101-132." "bayso"]
:Hayward1984a ["Hayward, Richard, 1984. The Arbore Language: A First Investigation Including a Vocabulary. Kuschitische Sprachstudien 2. Hamburg: Helmut Buske Verlag." "arbore"]
:Hawyard2000 ["Hayward, Richard, 2000. 'Afroasiatic' in Bernd Heine & Derek Nurs (eds.) African Languages: An Introduction. Cambridge University Press. 2000. pp. 74-98." "aa-sem"]
:Heine1980d    ["Heine, Bernd. 1980. 'Elmolo'. in Bernd Heine, The Non-Bantu Languages of Kenya. Language and Dialect Atlas of Kenya, vol. 2. Berlin: Dietrich Reimer Verlag. pp. 173-219." "elmolo"]
:Heine1982    ["Heine, Bernd. 1982. Boni Dialects. The Non-Bantu Languages of Kenya. Language and Dialect Atlas of Kenya, vol. 10. Berlin: Dietrich Reimer Verlag." "boni"]
 :Hetzron1969b ["Hetzron, Robert. 1969. The Verbal System of Southern Agaw. Near Eastern Studies, vol. 12. Los Angeles: University of California Press." "awnji agaw"]
:Hetzron1980 ["Hetzron, Robert. 1980. 'The Limits of Cushitic'. Sprache und Geschichte in Afrika 2, 7-126. (pdf =>scan)" "cushitic"]
:Hetzron1990 ["Hetzron, Robert. 1990. 'Dialectal Variation in Proto-Afroasiatic'. In Ph. Baldi (ed.) Linguistic change and reconstruction methodology. Berlin/New York: Mouton de Gruyter. " "aa-sem pdf"]
:HudsonR1976 ["Hudson, Richard. 1976. 'The Beja Language'. in Lionel Bender (ed.), Non-Semitic Languages of Ethiopia. Michigan State University Press. pp. 139-154." "beja arteiga"]
:Huehnergard1997 ["Huehnergard, John. 1997. A Grammar of Akkadian. Harvard Semitic Studies 45.  Winona Lake, IN.: Eisenbrauns." "akkadian"]
:Joseph2014 ["Joseph, Brian (2014), “On arguing from diachrony for paradigms,” in Robeets & Bisang, pp. 89-102. " "morphology"]
:Jungraithmayr&Ibriszimow1994 ["Jungraithmayr, Hermann and Dmitri Ibriszimow. 1994. Chadic Lexical Roots. Vol. 1: GTentative Reconstruction, Grading, Distribution, and Comments. Reimer. Berlin." "chadic"]
:Kawachi2007 ["Kawachi, Kazuhira. 2007. A Grammar of Sidaama (Sidamo), a Cushitic Language of Ethiopia. PhD Dissertation. State University of New York at Buffalo." "sidaama"]
:Kiessling1994 ["Kiessling, Roland. 1994. Eine Grammatik des Burunge. Arikanistische Forschungen 13. Hamburg: Research and Progress Verlag." "burunge"]
:Kossmann2010 ["Kossmann, Maarten. 2010. 'Parallel System Borrowing: Parallel morphological sysgtems due to borrowing of paradigms'. Diachronica 27:3 pp. 459-487" "berber morphology paradigms aa-sem"]
:Kossmann2012 ["Kossmann, Maarten. 2012. 'Berber' in Frajzyngier2012, pp. 18-101" "aa-sem berber"]
:Kossmann2017 ["Kossmann, Maarten. 2017. 'A reconstruction of the system of verb aspects in proto-Berbero-Semitic' BSOAS ____" "aa-sem berber pdf"]
:Lambdin1971 ["Lambdin, Thomas. 1971. Introduction to Biblical Hebrew. New York: Scribner, New York." "hebrew"]
:Lambdin1983 ["Lambdin, Thomas. 1983. Introduction to Sahidic Coptic. Macon, Ga.: Mercer University Press." "coptic"]
:Lamberti&Sottile1997 ["Lamberti, Marcello, and Roberto Sottile. 1997. The Wolaytta Language. Studia linguarum africae orientalis 6. Köln: Rüdiger Köppe Verlag." "wolaytta"]
:Lamberti1993a ["Lamberti, Marcello. 1993. Materialien zum Yemsa. Heidelberg: Carl Winter Universitätsverlag, Heidelberg." "yemsa omotic"]
:Lamberti1993b ["Lamberti, Marcello. 1993. Die Shinassha-Sprache. Materialen zum Boro. Heidelberg: Carl Winter Universitätsverlag." "shinassha omotic"]
:Lindsay&Aronoff2013 ["Lindsay, Mark, and Mark Aronoff. 2013. 'Self-organizing morphological systems'. In Selected proceedings of the 7th Décembrettes, ed. Fabio Montermini, Gilles Boyé, and Jesse Tseng, 133–153. Muenchen: Lincom Europa." "morphology evolution"]
:Mous1993 ["Mous, Maarten. 1993. A Grammar of Iraqw. Kuschitische Sprachstudien, 9. Hamburg: Helmut Buske Verlag." "iraqw"]
:Mous20__ ["Mous, Maarten. 20__. 'The middle and passive derivations in Konso'" "konso pdf"]
:Mous2005 ["Mous, Maarten. 2005. 'Selectors in Cushitic' TSL[v.20020404] Prn:25/07/2005; 15:39." "cushitic pdf"]
:Nichols2104 ["Nichols, Johanna (2014), 'Derivational paradigms in diachrony and comparison, in Robbeets & Bisang, pp. 61-88. " "morphology"]
 :Orel&Stolbova1995 ["Orel, Vladimir E. and Olga V. Stolbova. 1995. Hamito-Semitic Etymological Dictionary: Materials for a Reconstruction. Brill. Leiden." "aa"]
:Orwin1995 ["Orin, Martin. 1995. Colloquial Somali. Colloquial Series. London/New York: Routledge." "somali"]
:Parker&Hayward1985 ["Parker, E. M., and Richard J. Hayward. 1985. 'A Concise Outline of Phonology and Morphology. Appendix A in E. M. Parker &  Richard J. Hayward, An Afar-English-French Dictionary. London: School of Oriental and African Studies, University of London. pp. 214-297." "afar"]
:Pillinger&Galboran1999 ["Pillinger, Steve, and Letiwa Galboran. 1999. A Rendille dictionary: Including a grammatical outline and an English-Rendille Index. Cushitic Language Studies, vol. 14 . Köln: Köppe Verlag." "rendille"]
:Praetorius1893 ["Praetorius, Franz. 1893. Zur Grammatik der Gallasprache. Berlin: Wolf Peiser." "oromo"]
:PrasseK1972-1974 ["Prasse, Karl-G. 1972-74. Manuel de grammaire touarègue (tăhăggart)  Éditions de l'Université de Copenhague. [1] Phonétique. Écriture. Pronom. [2] Nom. [3] Verbe." "berber"]
:Reinisch1893 ["Reinisch, Leo. 1893. Die Bed'auye-Sprache in Nordost-Afrika. (I, II, III, IV). Sitzungsberichte der kaiserlichen Akademie der Wissenschaften in Wien.Philosophisch-historische Classe}, volume = {128/III, 128/VII, 130/VII, 131/III}. Wien: Kaiserliche Akademie der Wissenschaften." "beja beniamer"]
:Richerson&Boyd2005 ["Richerson, Peter J., and Robert Boyd. 2005. Not by genes alone: How culture transformed human  evolution. Chicago: University of Chicago Press." "evolution"]
:Richerson&Christiansen2013 ["Richerson, Peter J., and Christiansen, Morten H., 'Cultural Evolution : Society, Technology, Language, and Religion' Cambridge, MA : MIT Press, 2013. Introduction, ppl 1-22" "evolution pdf"]
:Robbeets-etal2014 ["Robbeets, Martine, and Walter Bisang (2014), Paradigm Change: In the Transeurasian languages and beyond, Benjamins." "morphology"]
:Roper1928 ["Roper, E. M. 1928. Tu Bed'awie: An elementary handbook for the use of Sudan government officials. Hartford: Stephen Austin and Sons." "beja hadendowa"]
:Rubin2004 ["Rubin, Aaron, 2004. 'An Outline of Comparative Egypto-Semitic Morphology.” In Egyptian and Semito-Hamitic (Afro-Asiatic) Studies in Memoriam Werner Vycichl, ed. Gábor Takács, pp. 454-86. Leiden: Brill." "aa-sem pdf"]
:Rucart2001 ["Rucart, Pierre. 2001. 'The Vocalism of Strong Verbs in Afar.' In Simpson, Andrew (ed.) Proceedings of the Twenty-Seventh Annual Meeting of the Berkeley Linguistics Society (March 22-25, 2001) – Special Session on Afroasiatic Languages. Pp. 1-48. Berkeley Linguistics Society, Berkeley 2004 " "afar"]
:Saeed1999 ["Saeed, John Ibrahim. Somali. London Oriental and African Language Library. vol. 10 . Amsterdam/Philadelphia: J. Benjamins." "somali"]
:Sasse1980 ["Sasse, Hans-Jurgen. 'Ostkuschitische und semitische Verbalklassen'. In W. Diem & S. Wild (eds.) Studien aus Arabistik und Semitistik (Festschrift Anton Spitaler). Wiesbaden: Otto Harrassowitz, pp. 151-174. " "cushitic semitic aa-sem pdf"]
:Sasse1981a ["Sasse, Hans-Jurgen. 'Afroasiatisch' in Bernd Heine, Philo C. Schadeberg, Ekkehard Wolff (eds).  Die Sprachen Afrikas mit zahlreichen Karten und Tabellen. Hamburg : Buske,  1981. pp. 129-148." "aa-sem"]
:Sasse1981b ["Sasse, Hans-Jurgen. 'Kushitisch' in Bernd Heine, Philo C. Schadeberg, Ekkehard Wolff (eds).  Die Sprachen Afrikas mit zahlreichen Karten und Tabellen. Hamburg : Buske,  1981.pp. 187-215" "aa-sem pdf"]
:Sasse1981c ["Sasse, Hans-Jurgen. 'Semitisch' in Bernd Heine, Philo C. Schadeberg, Ekkehard Wolff (eds).  Die Sprachen Afrikas mit zahlreichen Karten und Tabellen. Hamburg : Buske,  1981. pp. 225-238" "aa-sem"]
:Sasse1984 ["Sasse, Hans-Jurgen. 'Case in Cushitic, Semitic and Berber' in Bynon, James.; Current Progress in Afro-Asiatic Linguistics : Papers of the Third
International Hamito-Semitic Congress, London, 1978. pp. 111-126." "aa-sem pdf"]
:Sasse2003 ["Sasse, Hans-Jurgen, 2003. 'Cushitic Adpositions and Their Possible Relatives in Semitic' in Afrasian: Selected Cmparative-Historical Linguistic STudies in Memory of Igor M. Diakonoff, M. Lionel Bender, David Appleyard, and Gabor Takacs (eds.) Lincom Europa, 200, Munchen. 123-142" "aa-sem pdf-p"]
:SatzingerH2004 ["Satzinger, Helmut, 2004. 'Statuses and Cases of the Afroasiatic Personal Pronoun' in Egyptian and Semito-Hamitic (Afro-Asiatic) Studies in Memoriam Werner Vycichl, ed. Gábor Takács, pp. 487-498. Leiden: Brill." "aa-sem"]
:Sava2005 ["Savà, Graziano. 2005. A grammar of Ts'amakko. Cushitic Language Studies 22. Köln: Rüdiger Köppe Verlag." "tsamakko"]
:Schneider-Blum2007 ["Schneider-Blum, Gertrud. 2007. A grammar of Alaaba: A Highland East Cushitic Language of Ethiopia. Cushitic Language Studies 25. Köln: Rüdiger Köppe Verlag." "alaaba"]
:Schuh2003 ["Schuh, Russell G. 2003. 'Chadic Overview' in in Afrasian: Selected Cmparative-Historical Linguistic STudies in Memory of Igor M. Diakonoff, M. Lionel Bender, David Appleyard, and Gabor Takacs (eds.) Lincom Europa, 200, Munchen. 55-60." "aa-sem"]
:SimM1985 ["Sim, Margaret. 1985. 'Kambaata Verb Morphophonemics'. Afrikanistische Arbeitspapieren 2, 44-63." "kambaata"]
:SimR1985 ["Sim, Ronald. 1985. 'The morphological structure of some main verb forms in Hadiyya'. Afrikanistische Arbeitspapieren 2, 10-43." "hadiyya"]
:Stump2016 ["Stump, Gregory. 2016. Inflectional paradigms: Content and form at the syntax-morphology interface. Cambridge University Press. " "morphology"]
:Takacs2003 ["Takacs, Gabor. 2003. 'Egyptian Overview' in in Afrasian: Selected Cmparative-Historical Linguistic STudies in Memory of Igor M. Diakonoff, M. Lionel Bender, David Appleyard, and Gabor Takacs (eds.) Lincom Europa, 200, Munchen. 163-166" "aa-sem"]
:Thackston1994 ["Thackston, Wheeler M. 1994. Introduction to Koranic and Classical Arabic.  Bethesda Md.: Iranbooks." "arabic"]
:Thackston1999 ["Thackston, Wheeler M. 1999. Introduction to Syriac. Bethesda Md.: IBEX Publisher." "syriac"]
:Tosco1991 ["Tosco, Mauro. 1991. A Grammatical Sketch of Dahalo. Hamburg: Helmut Buske Verlag." "dahalo"]
:Tosco2000 ["Tosco, Mauro. 2000. 'Cushitic Overview' Journal of Ethiopian Studies 33/2: 87-121." "cushitic pdf"]
:Tosco2001b ["Tosco, Mauro. 2001. The Dhaasanac language: grammar, texts, vocabulary of a Cushitic language of Ethiopia. Kuschitische Sprachstudien. vol. 17. Köln: Köppe Verlag." "dhaasanac"]
:Tosco2003 ["Tosco, Mauro. 2003. 'Cushitic and Omotic Overview' in in Afrasian: Selected Cmparative-Historical Linguistic STudies in Memory of Igor M. Diakonoff, M. Lionel Bender, David Appleyard, and Gabor Takacs (eds.) Lincom Europa, 200, Munchen. 87-92." "aa-sem"]
:Tosco2007 ["Tosco, Mauro. 2007. 'Feature-geometry and diachrony: The development of the subject clitics in Cushitic and Romance'. Diachronica 24:1, 119-153." "cushitic morphology"]
:Tosco2007b ["Tosco, Mauro. 2007. 'Gawwada Morphology'. in Alan Kaye (ed.), Morphologies of Asian and Africa (2 vols). Eisenbrauns. Winona Lake IN.: Eisenbrauns. vol. 1, pp. 505-528." "gawwada"]
:Voigt1998 ["Voigt, Rainer 1998. 'Zur Gliederung des Kuschitischen: das Bedauye und das Restkuschitische'. In Fiedler, C. Griefenow-Mewis & Reineke (eds.) Afrikanische Sprachen im Brennpunkt der Forschung. Köln: Rüdiger Köppe. " "beja cushitic"]
:Wedekind-etal2007 ["Wedekind, Klaus, Charlotte Wedekind, and Musa Abuzeinab. 2007. A learner's grammar of Beja (East Sudan). Köln: Rüdiger Köppe Verlag." "beja atmaan"]
:WedekindC1985 ["Wedekind, Charlotte. 1985. 'Burji Verb Morphology and Morphophonemics'. Afrikanistische Arbeitspapieren 2, 110-139" "burji"]
:WedekindK1985 ["Wedekind, Klaus. 1985. 'Gedeo (Darasa) Verb Morphology and Morphophonemics'. Afrikanistische Arbeitspapieren 2, 82-109." "gedeo"]
:Welmers1952 ["Welmers, W. E. 1952. 'Notes on the structure of Saho 1, 2 ', Word 8, 145-162; 236-251." "saho"]
:Zaborski1997a ["Zaborski1997a. 'Problems of the Beja Present Seven Years Later'. Lingua Posnaniensis 39:145-153. " "beja"]
:Zaborski1997b ["Zaborski1997b. 'The Position of Cushitic and Berber within Hamitosemitic Dialects'. In A. Bausi & M. Tosco (eds.) Afroasiatica Neapolitana. Naples: Istituto Universitario Orientale." "cushitic berber"]
:Zaborski2005 ["Zaborski, Andrzej, 2005. 'Tense, Aspect and Mood Categories of Proto-Semitic' Ahandlungen fur die Kunde des Morgenlandes 56/3. pp. 11-30." "aa-sem pdf"]
:Zaborski201?  ["Zaborski, Andrzej, 201?. 'Verbal Endings in the Afroasiatic Prefix Conjugations.' in .... pp. 459-464." "aa-sem pdf"]

}
