{:Strogatz2015 ["Strogatz, Steven H. (Steven Henry). Nonlinear Dynamics and Chaos: With Applications to Physics, Biology, Chemistry, and Engineering. 2nd edition Boulder, CO: Westview Press, a member of the Perseus Books Group, 2015." "language-evolution"]
:Nicenboim&Vasishth2016 ["B. Nicenboim, and S. Vasishth (2016), 'Statistical methods for linguistic research: Foundational Ideas—Part II', Language and Linguistics Compass, 10, 591–613. doi: 10.1111/lnc3.12207."  "language-evolution"]
:Gray-etal2007 ["Gray, R. D., S. J. Greenhill, and R. M. Ross. 2007. 'The pleasures and perils of Darwinizing culture (with phylogenies)'. Biological Theory 2:360– 375." "language-evolution"]
:Christiansen&Kirby2003 ["M. H. Christiansen and S. Kirby, Language Evolution, Studies in the Evolution of Language  Oxford University Press, Oxford, 2003 ." "language-evolution"]
:Mufwene-etal2001 ["S. S. Mufwene, R. Chaudenson, B. Kachru, L. Milroy, S. Poplack, and M. Silverstein, The Ecology of Language Evolution  Cambridge University Press, Cambridge, U.K., 2001 ." "language-evolution"]
:Greenhill-etal2017 ["Simon J. Greenhill, Chieh-Hsi Wu, Xia Hua, Michael Dunn, Stephen C. Levinson, and Russell D. Gray. 'Evolutionary dynamics of language systems'. PNAS 2017 114 (42) E8822-E8829; published ahead of print October 4, 2017, doi:10.1073/pnas.1700388114" "language-evolution"]
:Baronchelli-etal2006a ["Baronchelli, A., L. Dall’Asta, A. Barrat, and V. Loreto. 2006a. Topology induced coarsening in language games language. Phys. Rev. E 73 :015102(R)." "language-evolution"]
}
